<a href="https://colab.research.google.com/github/vitorquintella/LetsCode-Exercicios/blob/main/Base_para_notebook_COVID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparação dos Dados e Verificação de Consistência
Disclaimer: Os dados são uma amostra enviesada da população, pois apenas retrata quem chegou a fazer o teste do covid.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
# Não consegui fazer a leitura direto do github
# data_url = 'https://raw.githubusercontent.com/vitorquintella/LetsCode-Exercicios/main/Covid_exercício/covid.csv'
# df_original= pd.read_csv(data_url, encoding='utf-8', sep=',')

# Leitura do arquivo
df_original= pd.read_csv('covid.csv')

In [5]:
df = df_original.copy()

In [7]:
# Reorganizando ordem das colunas para uma ordem mais simples
df = df[['id',
        'entry_date', 'date_symptoms', 'date_died',
        'sex', 'age', 'pregnancy', 'contact_other_covid',
        'patient_type', 'icu', 'intubed', 
        'pneumonia',
        'copd', 'asthma', 'inmsupr',
        'hypertension', 'cardiovascular', 'renal_chronic', 'diabetes',
        'other_disease', 'obesity', 'tobacco', 
        'covid_res']]

In [8]:
# Organizando informações em 0 e 1 (False/True)

dict_si_no = {2: 0,
              1: 1}
dict_internado = {2: 1,
                  1: 0}

df = df.replace({'sex': dict_si_no,
                 'patient_type': dict_internado,
                 'intubed': dict_si_no,
                 'pneumonia': dict_si_no,
                 'pregnancy': dict_si_no,
                 'diabetes': dict_si_no,
                 'copd': dict_si_no,
                 'asthma': dict_si_no,
                 'inmsupr': dict_si_no,
                 'hypertension': dict_si_no,
                 'other_disease': dict_si_no,
                 'cardiovascular': dict_si_no,
                 'obesity': dict_si_no,
                 'renal_chronic': dict_si_no,
                 'tobacco': dict_si_no,
                 'covid_res': dict_si_no,
                 'contact_other_covid': dict_si_no,
                 'icu': dict_si_no})

df = df.rename(columns = {'sex': 'female',
                          'patient_type': 'hospitalized'})

In [10]:
# 12% da nossa amostra não possuem dados de resultado de covid. 
# Essas linhas serão eliminadas pois não acrescentam informações nem ao treino nem ao teste. 

print((df['covid_res'].value_counts()/len(df['covid_res'])).round(2))
df = df[df['covid_res'] != 3]

0    0.56
1    0.44
Name: covid_res, dtype: float64

## Separação de teste

In [11]:
from sklearn.model_selection import train_test_split

df, df_test = train_test_split(df, random_state = 42, test_size = 0.1)
X = df.drop(columns='covid_res')
y = df['covid_res']
X_test = df_test.drop(columns='covid_res')
y_test = df_test['covid_res']

In [12]:
df.head()

              id  entry_date date_symptoms  ... obesity  tobacco  covid_res
96336     180fe7  20-06-2020    19-06-2020  ...       0        0          1
142671    133839  13-06-2020    12-06-2020  ...       0        0          1
435408    0d3936  16-06-2020    16-06-2020  ...       0        0          0
192069    0a14f6  02-06-2020    01-06-2020  ...       0        0          1
358788  8.66E+03  03-06-2020    03-06-2020  ...       0        0          0

[5 rows x 23 columns]

# Análise Exploratória dos Dados

In [13]:
# Vamos começar sem explorar ids e datas
df = df.drop(columns = ['id', 'entry_date','date_symptoms','date_died'])

In [14]:
df.head()

        female  age  pregnancy  ...  obesity  tobacco  covid_res
96336        0   59         97  ...        0        0          1
142671       0   20         97  ...        0        0          1
435408       0   64         97  ...        0        0          0
192069       0   32         97  ...        0        0          1
358788       1   47          0  ...        0        0          0

[5 rows x 19 columns]

# Modelagem dos Dados

# Otimização do Modelo

# Conclusões sobre o Projeto